// * Breakpoints *
$desktop-xl: "(width > 105em)";
$tablet-landscape: "(width < 80em)";
$tablet-portrait: "(width < 62em)";
$mobile: "(width < 46em)";

// * COLORS & FONTS *
$primary-text-color: #444;
$secondary-color: #1691c3;
$background-color: #e4e4e4;
$logo-color: #fc4887;
$white-color: #fff;
$secondary-text: #696969;
$background-light-grey-clr: #00000016;

$primary-font: "Open Sans", sans-serif;
$secondary-font: "Oleo Script", cursive, serif;

// * General LAYOUT *
$container-width: 1020px;