@use "../../variables/general";
@use "../mixins/mixins";

header {
  text-align: center;

  .logo {
    text-decoration: none;
    display: inline-block;
    font-family: general.$secondary-font;
    font-weight: 400;
    line-height: 1.1;
    font-size: 3rem;
    color: general.$white-color;
    background-color: general.$logo-color;
    padding-inline: .15em;
    border-radius: .1em;
    letter-spacing: .05em;
    vertical-align: middle;
  }  

  .logo--html {
    font-weight: 800;
    margin-left: 1em;
    line-height: 2.5em;
  }
}


@include mixins.tabletLandscape {
  .logo__wrapper {
    margin-inline: auto;
  
    .logo--html {
      display: block;
      margin: 0 auto;
    }
  }
}