@use "../../variables/general";

.nav__primary {
  .nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
  }
  .nav__item a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    padding: 0.4em 0.8em;
    transition: background-color, 0.5s, ease;

    &:hover {
      background-color: general.$white-color;
      border-radius: 0.5em;
    }
  }
  @media #{general.$tablet-portrait}, #{general.$mobile} {
    display: none;
  }
}