@use "../../variables/general";
@use "../mixins/mixins";

.nav__primary {
  .nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav__item {
    padding-left: 1.5em;
    
    a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    padding: 0.5em 1em;
    transition: background-color, 0.5s, ease;
    
      &:hover {
        background-color: general.$section-bg-color;
        border-radius: 0.5em;
      }
    }
  }
  @include mixins.tabletPortrait {
    display: none;
  }
}