@use "../../variables/general";

@mixin desktop {
  @media #{general.$desktop} {
    @content;
  }
}
@mixin tabletLandscape {
  @media #{general.$tablet-landscape} {
    @content;
  }
}
@mixin tabletPortrait {
  @media #{general.$tablet-portrait} {
    @content;
  }
}
@mixin mobile {
  @media #{general.$mobile} {
    @content;
  }
}