@use "../../variables/general";
@use "../common/components/buttons";

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  background-color: general.$section-bg-color;
  border-radius: general.$radius-primary;
  box-shadow: general.$box-shadow;
  padding: 4.5em;

  .banner__contents {
    flex: 1;
  }

  .banner__title {
    font-size: 3em;
    font-weight: general.$fw-8;
    margin-bottom: 2rem;
  }
  .banner__subtitle {
    font-size: 2.75em;
    line-height: 1.35em;
    font-weight: general.$fw-3;
    color: general.$secondary-text;
  }
}