@use "../../../variables/general";

.btn {
  display: inline-block;
  text-decoration: none;
  font-weight: 800;
  padding: 1em 2em;
  border-radius: .25em;

  &.btn--large {
    font-size: 2em;
    padding: .5em .8em;
  }

  &.btn--primary {
    background-color: general.$secondary-color;
    color: general.$section-bg-color;
  }
  &.btn--secondary {
    background-color: general.$background-light-grey-clr;
    color: general.$primary-text-color;
  }

}
.btn__wrapper {
  > * {
    display: block;
  }
  * + * {
    margin-top: 0.5em;
  }
}