@use "../../variables/general";
@use "../mixins/mixins";
@use "sass:math";

$columns: 12;
$base: math.div(100%, $columns);

.container {
  max-width: 1400px;
  
  @include mixins.desktop {
    max-width: 75em; //1200px
  }
  @include mixins.tabletLandscape {
    max-width: 60em; //960px
  }
  @include mixins.tabletPortrait {
    max-width: 90%;
  }
  @include mixins.mobile {
    max-width: 100%;
    padding-inline: 1em;
  }
  margin: 0 auto;

  // * for 12-column layout *
  .row {
    display: flex;
  }
}

// * 12-column layout *
@for $i from 1 through $columns {
  .col-#{$i} {
    width: $base * $i;
    @media (general.$tablet-portrait) {
      width: 100%;
    }
  }
}