@use "../../variables/general";
@use "../mixins/mixins";
@use "sass:math";

$columns: 12;
$base: math.div(100%, $columns);

.container {
  width: 100%;
  max-width: 1400px;
  
  @include mixins.desktop {
    max-width: 75em; //1200px
  }
  @include mixins.tabletLandscape {
    max-width: 60em; //960px
  }
  @include mixins.tabletPortrait {
    max-width: 90%;
  }
  @include mixins.mobile {
    max-width: 100%;
    padding-inline: 1em;
  }
  margin-inline:auto;

  // * for 12-column layout *
  .row {
    display: flex;
    flex-wrap: wrap;
    gap: general.$card_primary-gap;
    &--no-gap {
      gap: 0;
    }
  }
}

// * 12-column layout *
@for $i from 1 through $columns {
  .col-#{$i} {
    width: calc(($base * $i) - (general.$card_primary-gap * ($columns / $i - 1)) / ($columns / $i));
    @media #{general.$tablet-portrait} {
      width: 100%;
    }
  }
}