@use "../../variables/general";
@use "../header/header";
@use "../banner/banner";

*, *:before, *:after {
  box-sizing: border-box;
}
.visually-hidden {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0,0,0,0) !important;
	white-space: nowrap !important;
	border: 0 !important;
}
img {
  max-width: 100%;
  display: block;
}

body {
  font-family: general.$primary-font;
  background-image: linear-gradient(to bottom, rgb(0 0 0 / 0.05), rgb(0 0 0 / 0)), url("../img/bg01.png");
  color: general.$primary-text-color;
  line-height: 2.25em;
}

.flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}