@use "../../variables/general";
@use "../header/header";
@use "../banner/banner";

*, *:before, *:after {
  box-sizing: border-box;
}
img {
  max-width: 100%;
  display: block;
}

body {
  font-family: general.$primary-font;
  background-image: linear-gradient(to bottom, rgb(0 0 0 / 0.05), rgb(0 0 0 / 0)), url("../img/bg01.png");
  color: general.$primary-text-color;
}